* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #E1E1E1;
}
   
main {
	padding-top: 65px;
	width: 60%;
    background-color: #F0F0F0;
    margin: 0 auto;
	overflow: auto;
}

h1:first-child
{
	margin-bottom: 0px;
}

article {
    width: 90%;
    background: #FFF;
    margin: 0 auto 35px;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #dbaa24;
}

div.date,
div.result,
div.imgresult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.date {
    background-color: #dbaa24;
    width: 20%;
    flex-grow: -1;
    position: relative;
    flex: 1;
}

div.result {
    width: 50%;
    flex-grow: 2;
    flex: 3;
    
}

div.imgresult {
    background-image: url(../img-content/dantesk.png);
    width: 20%;
    opacity: 0.8;
    flex-grow: 1;
    background-size: cover;
    background-position: center center;
    position: relative;
    flex: 2;
	text-align: center;
}

h1 {
    font-family: 'Avenir', sans-serif;
    font-size: 20px;
    color: #767676;
    margin-left: 10%;
    padding-top: 5%;
    margin-bottom: 2%;
    font-weight: lighter;
	border-bottom: 2px solid #dbaa24;
	line-height: 40px;
	display: inline-block;
}

h2 {
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    color: #FFF;
    position: absolute;
    margin: 0 auto;
    text-transform: uppercase;
}

h3,
h4 {
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
}

h3 {
    color: #767676;
    font-weight: bolder;
	font-size: 1.1em;
}

h4 {
    color: #dbaa24;
    font-weight: bold;
    line-height: 30px;
	font-size: 0.9em;
}



p.pdate {
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    color: #FFF;
    text-align: center;
    position: absolute;
}

article a {
    font-family: 'Avenir', sans-serif;
    color: #767676;
    font-size: 12px;
    text-decoration: none;
}