footer {
	padding: 10px;
	background: black;
}

footer #img_footer {
	display: inline-block;
	width: 100%;
	margin :auto;
	text-align: center;
}

footer #img_footer .facebook {
	width: 2%;
}
footer #img_footer .twitter {
	width: 2%;
}
footer #img_footer .instagram {
	width: 2%;
} 

footer p {
	text-align: center;
	color: white;
}