@charset "utf-8";
* {
	margin: 0;
	padding : 0;
}
.searchform {
	width: 100%;
	margin: 40px auto;
	overflow: auto;
}

.searchform form
{
	overflow: auto;
}

select, input {
	display: inline-block;
	width: 18%;
	margin-right: 4%;
}



select#lieu {
	
}
select#style {

}
select, input  {
	padding: 10px;
}
label {
	font-size: 20px;
	text-align: center;
	width: 30%;
	height: 50%;
}
input[type=submit] {
	margin-right: 0px;
    text-align: center;
    width: 40px;
    height: 50%;
    background: #dbaa24;
    border: none;
	border-radius: 2px;
	font-family: 'Avenir', sans-serif;
	font-weight: bolder;
}